import React from 'react'
import './{{pascalCase name}}.scss'

const {{pascalCase name}} = () => (
  <div className="{{dashCase name}}">
    <h1>{{pascalCase name}}</h1>
  </div>
)

export default {{pascalCase name}}
